* {
    margin: 0;
    text-align: left;
}

:root {

    font-family: Inter, sans-serif;
}

.dark {
    background-color: #181818;
    color: white;
}

.light {
    background-color: white;
    color: black;
}
.container {
    margin-top: 40px;
    margin-right: 430px;
    margin-left: 430px;
}

.navbar-title {
    margin-left: 10px;
    font-weight: 600;
    padding-top: 14px;
    margin-right: 11px;
}

.dark .navbar {
    display: flex;
    background-color: #1c1b1b;
    position: fixed;
    top: 0;
    width: 100%;
}

.light .navbar {
    display: flex;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
}

.dark .navbar2 {
    justify-content: end;
    display: flex;
    background-color: #1c1b1b;
    right: 0;
    position: fixed;
    top: 0;
}

.light .navbar2 {
    justify-content: end;
    display: flex;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    right: 0;
    color: black;
}

.navbar-item {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.light .navbar-item {
    color: black;
}

.dark .navbar-item:hover {
    background-color: #2D2F31;
}

.light .navbar-item:hover {
    background-color: #d9dade;
}

.bettercompass-blue {
    background: -webkit-radial-gradient(#0179f3,#0190ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    margin-top: 40px;
    text-align: center;
}

.text-down {
    margin-top: 10px;
}

.large-image {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.left {
    text-align: left;
}

.active {
    background: #0a70b0;
    color: white !important;
}

.active:hover {
    background: #0a70b0 !important;
}

a {
    color: #0190ea;
    text-decoration: none;
    cursor: pointer;
}

.dark .footer {
    text-align: center;
    display: flex;
    background-color: #1c1b1b;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.light .footer {
    text-align: center;
    display: flex;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-item {
    padding: 7px 8px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 3px;
}